*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

/* Variaveis Para Cores */

:root{
    --green-one:#39ff14;
    --white:#ffff;
    --black:#000;
}

/* interface */
.interface{
    margin: 1rem;
}

/* logo*/
.logo img{
    width: 6rem;
    cursor: pointer;
    transition: .2s;
}

.logo img:hover{
    transform: scale(1.07);
    
}
/* Header */

.container-nav nav{
    display: flex;
    align-items: center;
}

.container-nav ul li{
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    transition: .2s;
}
.container-nav ul li:hover{
    transform: scaleX(1.05);
}


.navi-tens a {
    display: inline-block;
    padding: 10px; 
    text-decoration: none;
}
  
.navi-tens a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: transparent;
    transition: 0.3s ease;
}
  
.navi-tens a:hover::after {
    background-color: var(--green-one);
}


.container-nav a{
    text-decoration: none;
    color: var(--white);
    font-family: "Ubuntu", system-ui;
    font-weight: 400;
    font-style: normal;
}



.btn-contato button{
    background: var(--green-one);
    color: var(--white);
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Menu Mobile */
.menu-mobile{
    display: none;
}