*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

/* Variaveis Para Cores */

:root{
    --green-one:#39ff14;
    --white:#ffff;
    --black:#000;
    --greenEyes: #37ff1429;
}

/* interface */
.interface{
    margin: 2rem 8rem 0px;
}

/* logo*/
.logo img{
    width: 6rem;
    cursor: pointer;
    transition: .2s;
}

.logo img:hover{
    transform: scale(1.07);
    
}
/* Header */

.container-nav nav{
    display: flex;
    align-items: center;
    
}

.container-nav ul li{
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    transition: .2s;
}
.container-nav ul li:hover{
    transform: scaleX(1.05);
}


.navi-tens a {
    display: inline-block;
    padding: 10px; 
    text-decoration: none;
}
  
.navi-tens a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: transparent;
    transition: 0.3s ease;
}
  
.navi-tens a:hover::after {
    background-color: var(--green-one);
}


.container-nav a{
    text-decoration: none;
    color: var(--white);
    font-family: "Ubuntu", system-ui;
    font-weight: 400;
    font-style: normal;
}



.btn-contato button{
    background: none;
    border: 1px solid var(--white);
    color: var(--white);
    width: 9rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    margin-left: 55rem ;
    font-family: "Ubuntu", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    transition: .2s ease-out;
}

.btn-contato button:hover{
    transform: scale(1.05);
    color: var(--black);
    background-color: var(--green-one);
    border: none;
}





/* Menu Mobile */
.menu-mobile{
    display: none;
}


/* Home section */

/* section.inicial{
    height: 3rem;
} */


.first-image{
    position: relative;

}


.first-image img {
    filter: grayscale(100%);
    width: 55rem;
    mask-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: relative;
    left: 30rem;
    bottom: 20rem;
}

.background-eyes {
    position: absolute;
    bottom: 40rem;
    left: 60rem;
    width: 10.5rem;
    height: 25rem;
    background-color: var(--greenEyes);
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    
  }

  .first-text h1 , p{
    font-family: "Ubuntu", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .first-text h1{
    font-size: 7rem;
  }